<div class="container">
  <div class="row">
    <div class="col-12">
      <input
        type="email"
        class="form-control"
        name="email"
        #email
        placeholder="email"
        style="height: 3rem"
        readonly
      />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <article *ngFor="let basket of obs$ | async; let i = index">
      <div class="row mb-2">
        <div class="col-4">
          <img
            [src]="basket.photo"
            class="img-fluid"
            style="border: 1px solid black"
          />
        </div>
        <div class="col-8">
          <label>{{ basket.courseDesc }}</label>
          <div class="row g-0">
            <div class="col-4 align-self-end">
              <label>Licenses</label>
              <input
                class="form-control"
                type="number"
                [value]="basket.unit"
                #unit
              />
            </div>
            <div class="col-4 align-self-end">
              <label>Price</label>
              <label class="form-control">{{ basket.price }}</label>
            </div>
            <div class="col-4 align-self-end">
              <label>Total</label>
              <label class="form-control">{{
                basket.unit * basket.price
              }}</label>
            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="row">
      <div class="col-8 offset-4 mb-2">
        <hr />
        <div class="row g-0">
          <div class="col-4">
            <label>Licenses</label>
            <label class="form-control">{{ totalCourse }}</label>
          </div>

          <div class="col-4 offset-4">
            <label>Pay</label>
            <label class="form-control"> {{ totalPaid }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
