::ng-deep .page-item.active .page-link {
  font-weight: bold !important;
  background-color: lightcoral;
  color: white;
  border: 1px solid lightcoral;
}
::ng-deep .page-link {
  color: black;
}

li:hover {
  background-color: lightslategray;
  cursor: pointer;
  color: white;
}

.selected {
  background-color: lightcoral;
  color: white;
  font-weight: bolder;
}
.label-info {
  margin: 0;
  font-size: small;
  color: rgb(179, 120, 129);
}

.btn-add-save {
  height: 3.5rem;
}

.header {
  border: 1px grey dotted;
  line-height: 2rem;
  text-align: center;
  color: white;
  margin: 0px;
  background-color: grey
}

.items {
  height: 10rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  overflow: scroll;
  overflow-x: hidden;
}
.trash {
  float: right;
}


.row-controls {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.floatingInput {
  width: 90%;
}
