<div class="container">
  <form [formGroup]="Form" autocomplete="off">
    <div class="row">
      <div class="col-2">
        <img
          style="border: 1px dotted black; width: 10rem; object-fit: contain"
          [src]="imgShow"
          #image
          onerror="this.src =
            '../assets/no-image-icon.png'"
        />
      </div>
      <div class="col-10">
        <div class="row g-1">
          <div class="col-6">
            <app-text-input
              [type]="'text'"
              [label]="'Name'"
              [id]="'id'"
              formControlName="Course"
              name="Course"
              placeholder="Course"
              #course
            ></app-text-input>
          </div>
          <div class="col-6">
            <app-select-input
              [Items]="Teachers"
              [label]="'Teacher'"
              [bindId]="'id'"
              [bindValue]="'name'"
              formControlName="Teacher"
              #teacher
            ></app-select-input>
          </div>

          <div class="row g-1">
            <div class="col-6">
              <app-select-input
                [Items]="Technology"
                [label]="'Technology'"
                [bindId]="'id'"
                [bindValue]="'description'"
                formControlName="Technology"
                (clearValue)="onClear()"
                (changeValue)="changeTechnology($event)"
                #technology
              ></app-select-input>
            </div>
            <div class="col-6">
              <app-select-input
                [Items]="TechnologyDetail"
                [label]="'TechnologyDetail'"
                [bindId]="'id'"
                [bindValue]="'description'"
                formControlName="TechnologyDetail"
                #techdetails
              ></app-select-input>
            </div>
            <div class="col-6">
              <input
                type="file"
                id="formFile"
                class="form-control"
                (change)="checkFile($event)"
                #fileUpload
              />
            </div>

            <div class="col-6">
              <app-text-input
                [type]="'text'"
                [label]="'Url'"
                formControlName="Url"
                name="link"
                placeholder="Url Course"
              ></app-text-input>
            </div>
            <div class="row" style="flex-direction: row-reverse">
              <div class="col-1" style="margin-left: 10px">
                <button (click)="addCourse()" class="btn btn-primary">
                  Add
                </button>
              </div>

              <div class="col-1">
                <button (click)="onSubmit()" class="btn btn-success">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-course-main-info-table
      (editCourse$)="editCourse($event)"
      (deleteCourse$)="deleteCourse($event)"
    >
    </app-course-main-info-table>
  </form>
</div>
