<div class="table-responsive-lg">
  <table class="table border border-3 shadow-lg table-hover table-sm">
    <thead>
      <tr class="d-flex">
        <th class="col-6">
          <input
            #title
            class="form-control"
            type="text"
            placeholder="Search by Name ..."
          />
        </th>

        <th class="col-1">
          <fa-icon
            class="cursor"
            (click)="changeOrder('0')"
            [icon]="faIconorder0"
            [size]="'2x'"
          ></fa-icon>
        </th>

        <th class="col-4">
          <select
            (change)="filterTeacher($event)"
            #teacherData
            class="form-control"
          >
            <option value="-1">Search by Teacher ....</option>
            <option *ngFor="let teacher of Teachers" [value]="teacher.id">
              {{ teacher.name }}
            </option>
          </select>
        </th>
        <div style="align-self: center" class="p-0">
          <th class="col-1">
            <fa-icon
              class="cursor"
              (click)="changeOrder('1')"
              [icon]="faIconorder1"
              [size]="'2x'"
            ></fa-icon>
          </th>
        </div>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let course of (CourseData$ | async)?.data"
        (click)="editCourse(course.id)"
        [ngClass]="idSelected === course.id ? 'selected' : ''"
        class="d-flex"
      >
        <td class="col-7">{{ course.name }}</td>
        <td class="col-4">{{ course.teacherName }}</td>

        <td class="col-1">
          <fa-icon
            (click)="deleteCourse(course.id)"
            [icon]="faIconTrash"
            [size]="'lg'"
          ></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row g-0">
  <div class="row">
    <div class="col-7 mt-1">
      <pagination
        [totalItems]="courseService.totalCourses"
        [boundaryLinks]="true"
        [customPreviousTemplate]="previousTemplate"
        [customNextTemplate]="nextTemplate"
        [customFirstTemplate]="firstTemplate"
        [customLastTemplate]="lastTemplate"
        class="color"
        #page
        [maxSize]="3"
        [itemsPerPage]="pageSize"
        (pageChanged)="changePage($event)"
      >
        <ng-template #firstTemplate>First</ng-template>
        <ng-template #nextTemplate
          ><fa-icon class="cursor" [icon]="faArrowRight"></fa-icon
        ></ng-template>
        <ng-template #previousTemplate
          ><fa-icon class="cursor" [icon]="faArrowLeft"></fa-icon>
        </ng-template>
        <ng-template #lastTemplate> Last </ng-template>
      </pagination>
    </div>
  </div>
</div>
