<div class="container">
  <form [formGroup]="formPayments" autocomplete="off">
    <div class="row">
      <div class="col-12">
        <app-text-input
          [type]="'Text'"
          [label]="'Name'"
          formControlName="name"
          name="Name"
          placeholder="Card"
          [disabled]="!showfield"
        ></app-text-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-text-input
          [type]="'Text'"
          [label]="'Card Holder'"
          formControlName="cardholdername"
          name="cardholder"
          placeholder="Card"
          [disabled]="!showfield"
        ></app-text-input>
      </div>
      <div class="col-12">
        <app-text-input
          [type]="'Text'"
          [label]="'Card Number'"
          formControlName="cardnumber"
          name="cardnumber"
          placeholder="Card"
          [disabled]="!showfield"
        ></app-text-input>
      </div>
      <div class="row">
        <div class="col-3">
          <app-text-input
            [type]="'Text'"
            [label]="'Month'"
            formControlName="month"
            name="month"
            placeholder="month"
            [disabled]="!showfield"
          ></app-text-input>
        </div>

        <div class="col-3">
          <app-text-input
            [type]="'Text'"
            [label]="'Year'"
            formControlName="year"
            name="year"
            placeholder="Year"
            [disabled]="!showfield"
          ></app-text-input>
        </div>
        <div class="col-3 offset-3">
          <app-text-input
            [type]="'Text'"
            [label]="'CCV'"
            formControlName="ccvcard"
            name="ccv"
            placeholder="ccv"
            [disabled]="!showfield"
          ></app-text-input>
        </div>
      </div>
      <div class="row row justify-content-start" *ngIf="showTable">
        <div class="col-2 mb-1" style="width: 6rem">
          <button class="btn btn-primary w-100" (click)="add()">Add</button>
        </div>

        <div class="col-2" style="width: 6rem">
          <button
            (click)="onSubmit()"
            class="btn btn-success"
            style="width: 100%"
          >
            Save
          </button>
        </div>
      </div>

      <app-user-table-three
        *ngIf="showTable"
        (editPayment$)="editPayment($event)"
        (deletePayment$)="deletePayment($event)"
        #table
      ></app-user-table-three>
    </div>
  </form>
</div>
