<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="card-body background-card-color d-flex justify-content-center">
      <div class="col-sm-10 col-xs-12">
        <div class="card border-2 shadow mt-3">
          <tabset #tabset>
            <tab heading="Teacher">
              <app-teacher></app-teacher>
            </tab>
            <tab heading="More info" (selectTab)="changeTab(1)">
              <app-teacher-tab-two
                [description]="description"
              ></app-teacher-tab-two>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
