<div class="body-page background-image">
  <div class="container" style="padding-left: 0; padding-right: 0">
    <div class="row background-card-color g-0">
      <div class="col-sm-10 col-xs-12 col-md-9 col-xl-6 col-lg-8 mx-auto">
        <div class="card border-0 shadow rounded-3" style="margin-top: 30%">
          <div class="card-body p-4 p-sm-5">
            <h2 class="card-title text-center mb-5 fw-bold">
              PrimeByte Network
            </h2>
            <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
            <form (ngSubmit)="navigate()" [formGroup]="Form" autocomplete="off">
              <div class="form-floating mb-1">
                <app-text-input
                  [label]="'Email'"
                  [id]="'floatingInput'"
                  formControlName="email"
                ></app-text-input>
              </div>

              <div class="form-floating mb-1">
                <app-text-input
                  [type]="'Password'"
                  [label]="'Password'"
                  [id]="'floatingPassword'"
                  formControlName="password"
                ></app-text-input>
              </div>

              <div class="d-grid">
                <button
                  [disabled]="this.Form.invalid"
                  class="btn btn-primary btn-login text-uppercase fw-bold"
                  type="submit"
                >
                  Sign in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
