<form [formGroup]="Form" autocomplete="off">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img class="img" [src]="imageShow ?? emptyFile" alt="Photo" />
      </div>

      <div class="col-xs-12 col-sm-8">
        <app-text-input
          [type]="'text'"
          [label]="'name'"
          [id]="'name'"
          formControlName="name"
          name="name"
          placeholder="Teacher"
          #teacher
        ></app-text-input>

        <app-text-input
          [type]="'text'"
          [label]="'surname'"
          [id]="'surname'"
          formControlName="surname"
          name="surname"
          placeholder="Surname"
        ></app-text-input>
      </div>
      <div class="col-xs-12 col-sm-4 mt-1">
        <app-select-input
          [Items]="Countries"
          [label]="'Country'"
          [bindId]="'id'"
          [bindValue]="'countryDesc'"
          formControlName="country"
          #select
        ></app-select-input>
      </div>
      <div class="col-xs-12 col-sm-8 mt-1">
        <app-text-input
          [type]="'text'"
          [label]="'personal site'"
          [id]="'personal_site'"
          formControlName="site"
          name="personal site"
          placeholder="personal site"
        ></app-text-input>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12">
      <app-text-input
        [type]="'text'"
        [label]="'social networks'"
        [id]="'sorcial_network'"
        formControlName="social"
        name="social networks"
      ></app-text-input>
    </div>

    <div class="row">
      <div class="col-12 col-md-7 mb-1">
        <input
          #fileUpload
          class="form-control"
          type="file"
          id="formFile"
          (change)="checkFile($event)"
        />
      </div>
      <div class="col-12 col-md-2">
        <button
          (click)="createNew()"
          class="btn btn-primary col-md-2"
          style="width: 100%"
        >
          Add
        </button>
      </div>
      <div class="col-12 col-md-2">
        <button
          (click)="onSubmit()"
          class="btn btn-success col-md-2"
          style="width: 100%"
        >
          Save
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="mt-2">
          <pagination
            [totalItems]="totalRows"
            class="color"
            #page
            [itemsPerPage]="6"
            (pageChanged)="changePage($event)"
          ></pagination>
        </div>
      </div>
    </div>

    <div class="table-responsive-lg">
      <table class="table border-3 shadow-lg table-hover table-sm">
        <thead>
          <tr class="d-flex">
            <th class="col-8" style="color: white !important">Name</th>
            <th class="col-3">Country</th>
            <th class="col-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let teacher of Teachers"
            (click)="editTeacher(teacher.id)"
            [ngClass]="teacher.id === idSelected ? 'selected' : ''"
            class="d-flex"
          >
            <td class="col-8">{{ teacher.name }} {{ teacher.surname }}</td>
            <td class="col-3">{{ teacher.countryName }}</td>
            <td class="col-1">
              <fa-icon
                (click)="deleteTeacher(teacher.id)"
                [icon]="faIconTrash"
                [size]="'lg'"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
