::ng-deep .page-item.active .page-link {
  font-weight: bold !important;
  background-color: lightcoral;
  color: white;
  border: 1px solid lightcoral;
}

::ng-deep .page-link {
  color: black;
}

.cursor {
  cursor: pointer;
}


.list-style-box {
  border: 1px solid #efe8e8;
  border-radius: 10px;
  padding: 0.2rem;
  min-width: 17rem;
}


.header {
  line-height: 2rem;
  text-align: center;
  color: black;
  font-size: large;
  background-color: white;
}


.list-group-item {
  border: 0 !important;
  padding: 0;
}

input {
  margin-right: 1rem;
}

label {
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  text-wrap: nowrap;
  min-width: 11rem;
}

ul {
  max-height: 20rem;
  overflow: auto;
  padding: 1rem;
}

label {
  text-overflow: ellipsis;
}

.flex-gap-1 {
  gap: 0.5rem;
}