<app-nav-bar
  [searchVisible]="true"
  (filterbyName$)="filterbyName($event)"
></app-nav-bar>

<div class="body-page">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 d-flex"
        style="margin-top: 5rem; justify-content: center"
      >
        <div>
          <pagination
            [boundaryLinks]="true"
            [customPreviousTemplate]="firstTemplate"
            [customNextTemplate]="nextTemplate"
            [customFirstTemplate]="previousTemplate"
            [customLastTemplate]="lastTemplate"
            [totalItems]="totalRows"
            [itemsPerPage]="pageSize"
            (pageChanged)="pageChanged($event)"
          >
            <ng-template #firstTemplate>First</ng-template>
            <ng-template #nextTemplate
              ><fa-icon class="cursor" [icon]="faArrowRight"></fa-icon
            ></ng-template>
            <ng-template #previousTemplate
              ><fa-icon class="cursor" [icon]="faArrowLeft"></fa-icon>
            </ng-template>
            <ng-template #lastTemplate> Last </ng-template>
          </pagination>
        </div>
      </div>

      <div class="background-card-color">
        <div class="row">
          <div class="col-12 col-lg-3">
            <div
              class="d-flex align-items-center flex-column align-items-lg-center"
            >
              <div class="header">
                <label>Teachers</label>
              </div>
              <div class="items">
                <div class="list-group">
                  <ul>
                    <li
                      class="list-group-item"
                      *ngFor="let teachers of Teachers"
                    >
                      <input
                        type="checkbox"
                        (change)="filter(teachers.id)"
                      /><label> &nbsp; {{ teachers.name }}</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="header mt-3">
                <label>Technology</label>
              </div>
              <div class="items">
                <div class="list-group">
                  <ul>
                    <li
                      class="list-group-item"
                      *ngFor="let technology of Technology"
                    >
                      <input
                        type="checkbox"
                        (change)="filterbyTechnology(technology.id)"
                      /><label> &nbsp; {{ technology.description }}</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="header mt-3" *ngIf="TechnologyDetails.length > 1">
                <label>Technology Details</label>
              </div>
              <div class="items" *ngIf="TechnologyDetails.length > 1">
                <div class="list-group">
                  <ul>
                    <li
                      class="list-group-item"
                      *ngFor="let technologydet of TechnologyDetails"
                    >
                      <input
                        type="checkbox"
                        (change)="filterByTechnologyDet(technologydet.id)"
                      /><label> &nbsp; {{ technologydet.description }}</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-9 background-card-color">
            <div
              class="card-body d-flex flex-wrap d-row justify-content-center justify-content-lg-start flex-gap-1"
            >
              <div *ngFor="let curso of Courses">
                <app-card
                  (courseSelected$)="getCourseSelected($event)"
                  [Course]="curso"
                ></app-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
