.nav-tabs .nav-item.show .nav-link,
::ng-deep .nav-tabs .nav-link.active {
  font-weight: bold !important;
  color: black;
}
::ng-deep .nav-tabs .nav-link {
  color: gray;
  border-bottom: 1px solid #dee2e6;
}
.container-pad-left-right-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
